a, .nav-link{
    color:white;
}
#header{
   width: 100%;
   z-index:20;
   position: fixed;
   top:0px;
   left:0px;
   background-color:rgba(0,0,0,1) ;
}
i{
    cursor:pointer;
}
.modal-backdrop{
    z-index: 10;
}
.wrapper{
    margin-top:150px;
}
