.ncontainer{
    margin-top:100px;
}

/*medias-queries*/
@media screen and (max-width:900px){
    .ncontainer{
        margin-top:120px;
    }
}
@media screen and (max-width:770px){
    .ncontainer{
        margin-top:220px;
    }
    .titreAp{
        margin-top:10px;
    }
}
@media screen and (max-width:570px){
    .ncontainer{
        margin-top:260px;
    }
}
@media screen and (max-width:300px){
    .ncontainer{
        margin-top:300px;
    }
}
@media screen and (max-width:200px){
    .ncontainer{
        margin-top:450px;
    }
}